<h1>top</h1>

<div class="wrap">
    <ul id="tab-menu">

      <li id="tab1" >あか</li>
      <li id="tab2" >さた</li>
      <li id="tab3" >には</li>
      <li id="tab4" >まや</li>
      <li id="tab5" >らん</li>

     </ul>

    <div id="tab-contents">
      <%= form_with :model => @kuji, url:middle_path, method: :post, local: true  do |f| %>

      <div id="tab1" class="tab">
        <% @food1.each do |food| %>

    　　　<p><%= f.radio_button :color, food.kanji_name %></p>
    　　　<p><%= f.radio_button :addresses, "residence"  %></p>
        <% end %>
      </div>
      
      <div id="tab2" class="tab">
        <% @food2.each do |food| %>
    　　　<p><%= food.kanji_name%></p>
        <% end %>
      </div>

      <div id="tab3" class="tab">
        <% @food3.each do |food| %>
    　　　<p><%= food.kanji_name%></p>
        <% end %>
      </div>

      <div id="tab4" class="tab">
        <% @food4.each do |food| %>
    　　　<p><%= food.kanji_name%></p>
        <% end %>
      </div>

      <div id="tab5" class="tab">
        <% @food5.each do |food| %>
    　　　<p><%= food.kanji_name%></p>
        <% end %>
      </div>
      <% end %>
    </div>
    
</div>


<div class="box2"></div>





































